@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('navbar-full.css');
@import url('books-carousel.css');
@import url('floating-box.css');
@import url('main-books.css');
@import url('section-category.css');
@import url('footer.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body::-webkit-scrollbar{
    width: 0.5rem;
 
}

body::-webkit-scrollbar-thumb{
    background-color: #303030;
    border-radius: 1rem;
}

.culo{
    position: absolute;
    top: 4em;
    right: 2.5em;
}

