.carousel{
    /* background-color: #303030 !important; */
    border-radius: 1em;
    height: 22.5em;
    padding: 1em;
    margin: 0em 12em;
    overflow: hidden;

    display: flex;
    flex-direction: row ;
    gap: 1em;

}

.cards{
    min-width:13.5em;
    background-color: #ffffff !important;
    border-radius: 0.31em;
    padding: 5px;
    box-shadow: -1px 1px 5px 0 #80836f85;
}

.cards:hover{
    box-shadow: -1px 1px 5px 0 #80836fdc;
}

.card-body{
    max-width:12.5em;
    margin: 0.2em auto auto auto;
    border:1px solid #ffffff;
}

.card-body>h5{
    max-height: 1.5em;
    font-size: 0.9em;
    color: #000000;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.card-img{
    border: 1px solid #cccccc;
    width: 12.5em;
    height: 18em;
    border-radius: 0.11em;
    margin: 0em auto auto auto;
}






.prev{
    width: 2em;
    position:absolute;
    top: 8.42em;
    left: 103em;
}

.next{
    rotate: 180deg;
    width: 2em;
    position: relative;
    top: 0.8em;
    left: 106em;
}

