.box-comments{
    padding: 2em;
    max-width: 75%;
    min-height: 35vh;
    background-color: #ffffff;
    margin: 0em auto 3em auto ;
    border-radius: 0.45em;
    box-shadow: -1px 1px 5px 0 #bdbdbd;
}
.box-comments>h2 {
    font-size: 1.5em;
    color: #303030;
    margin-bottom: 0.4em;
}

.box-comments>form>textarea {
    width: 100%;
    height: 10em;
    border: 1px solid #cccccc;
    border-radius: 0.45em;
    padding: 0.5em;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    resize: none;
}
.box-comments>form>button {
    background-color: #303030;
    color: #ffffff;
    border: none;
    border-radius: 0.45em;
    padding: 0.5em 1em;
    font-size: 0.8em;
    cursor: pointer;
    margin-bottom: 0.5em;
    float: right;
}

.box-comments>form>button:hover {
    background-color: #000000;
}

.box-comments>.comment-list {
    padding: 1.5em;
    border-radius: 0.5em;
    border:1px solid #dbdbdb;
    margin-top: 1em;
    min-height: 10em;
}

.comment-info{
    display: flex;
    flex-direction: row;
    
}

.comment-info>.comment-img{
    border: 1px solid #cccccc;
    width: 3em;
    border-radius: 0.2em;
}

.comment-info>h5{
    font-size: 1.4em;
    color: #303030;
    margin:auto 0.5em auto 0.5em;
}

.comment-info>small{
    font-size: 0.8em;
    color: #8b8b8b;
    margin:auto 0em auto 0em;
}

.comment{
    margin-bottom: 1em;
}


.comment>p{
    max-width:94%;
    /* border: 1px solid #cccccc; */
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 6%;
    color: #303030;
    font-size: 0.9em;
    font-family: 'nunito', sans-serif;
}

.noncomments{
    text-align: center;
    font-size: 1.2em;
    color: #303030;
    margin-top: 1em;
}




