.footer{
    background-color: rgb(119, 169, 255);
    color: #fff;
    padding: 1.2em 5em;
    margin-top: 2em;

}

.logo-footer>img{
    height: 12em;

}



.footer-menu{
    margin: 0em 15em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

.footer-social>ul{
    list-style: none;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:1.5em;
}

.footer-social>ul>li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    background-color: #4f4fff;
    box-shadow: -2px 2px 6px 1px rgb(0, 13, 156);
    border-radius: 25%;
    width: 4em;
    height: 4em;
}

.hr{
    margin: 0em 15em;
}

.footer__copy{
    margin: 0em 15em;
    display: flex;
    flex-direction: row;
    gap: 13em;
    
}

.footer__copy>div{
    width: 35em;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.second{
    display:flex;
    justify-content: end !important;
}







