.menu1{
    position: absolute;
    top: 8em;
    background-color: white;
    /* border: 1px solid #000000; */
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 0.5em;
    width: 50em;
    padding: 0.5em;
}

.dropdown-submenu{
    display: flex;
    flex-direction: row;
}


.dropdown-submenu>div{
    /* border: 1px solid #000000; */
    padding: 5px;
}


.dropdown-submenu>div>li{
    border-radius: 0.2em;
    /* border: 1px solid #000000; */
    box-shadow: 0px 0px 1px 0.5px rgba(151, 151, 151, 0.75);
    padding: 5px;
    margin: 0.5em 0em;
}
.dropdown-submenu>div>li:hover{
    box-shadow: -1px 1px 1px 0px rgba(92, 92, 92, 0.75);
}




