@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('navbar-full.css');
@import url('book-info.css');
@import url('books-carousel.css');
@import url('floating-box.css');
@import url('main-books.css');
@import url('section-books.css');
@import url('section-category.css');
@import url('table-crud.css');
@import url('menu-years.css');
@import url('menu-category.css');
@import url('comentarios.css');
@import url('panel-control.css');
@import url('panel-user.css');
@import url('footer.css');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background-color: rgb(161, 252, 252); */
    height: 100vh;
    background-color: #dadace91;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0.5rem; 
    height: 0.5rem;
    background-color: #b9b9b9;
}

body::-webkit-scrollbar-thumb{
    background-color: #0a2502af;
    border-radius: 1rem;
}


