.carousel{
    /* box-shadow: 0em 0em 0.3em 0em #b ebebe; */
    border-radius: 1em;
    height: 22.5em;
    padding: 1em;
    margin: 0em 15em;
    overflow: hidden;
    display: flex;
    flex-direction: row ;
    gap: 1em;
}

.cards{
    min-width:13.5em;
    background-color: #ffffff !important;
    border-radius: 0.31em;
    padding: 5px;
    box-shadow: -1px 1px 5px 0 #bdbdbd;
}

.cards:hover{
    box-shadow: -1px 1px 5px 0 #5a5a5a;
}

.card-body{
    max-width:12.5em;
    margin: 0.2em auto auto auto;
    border:1px solid #ffffff;
}

.card-body>h5{
    max-height: 1.5em;
    font-size: 0.9em;
    color: #000000;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}
.card-title{
    /* border: 1px solid #271c1c; */
    max-width: 14em;
    max-height: 1em;
}

.card-img{
    border: 1px solid #cccccc;
    width: 12.5em;
    height: 18em;
    border-radius: 0.11em;
    margin: 0em auto auto auto;
}


.btn-carousel-arrows{
    margin: 0em 15em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.next{
    rotate: 180deg;
}

.carousel-control{
    height: 2em;
    width: 2em;
}




