.menu2{
    position: absolute;
    top: 8.5em;
    background-color: white;
    border: 1px solid #a3a3a3;
    min-width: 5em;
}

.menu2>ul{
    margin: 0.4em;
}

.menu2>.dropdown-submenu{
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

.dropdown-submenu>div>li{
    /* border: 1px solid #000000; */
    /* box-shadow: 0px 0px 1px 0.5px rgba(151, 151, 151, 0.75); */
    padding: 6px;
}
.dropdown-submenu>div>li>a{
    color: #000000;
    font-size: 0.9em;
    padding:0em 1em;
}

.dropdown-submenu>div>li:hover{
    background-color: #dfdfdfa6;
}