.menu2{
    position: absolute;
    top: 8.5em;
    background-color: #e6ecdd;
    border-radius: 0.2em;
    box-shadow: -1px 1px 5px 0px #6464649c;
    min-width: 5em;
}

.menu2>ul{
    margin: 0.4em;
}

.menu2>.dropdown-submenu{
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

.dropdown-submenu>div>li{
    padding: 6px;
}
.dropdown-submenu>div>li>a{
    color: #000000;
    font-size: 0.9em;
    padding:0em 1em;
}

.dropdown-submenu>div>li:hover{
    background-color: #175e052c;
}