.navbar-full{
    margin-bottom: 2em;
} 

.icon-logo{
    height: 2.7em;
    width: 17em;
}
#icon-logo{
    position: relative;
    top: 1px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.navbar > div {
    margin: 0em 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.navbar-option{
    padding: 1em;
    height: 5em;
    background-color: #ffffff;
    /* border: 2px solid #0400ff7e; */
}

.navbar-options{
    padding: 0.45em 2em;
    /* margin-top: 1em; */
    background-color: #ffffff;
    box-shadow: 0em 0em 0.3em 0em #7e7e7e;
    /* border: 2px solid #db19196c; */
}



.options > p{
    color:#000000;
    margin-top: 0.5em;
    font-size: 1em;
}


#form1{
    margin: 4px 0em;
    border: 1px solid #303030;
    border-radius: 0.2em;
    height: 2em;
    width: 32em;
    display: flex;
    flex-direction: column;
}



.btn-login{
    height: 2.5em;
    width: 9em;
    margin: 0.7em 0em;
}

.search{
    width: 30em;
}



/* ---------------------------------------------------------------------------------------------- */


.dropdown-menu{
    margin-top: 0.55em;
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 1em;
}

.dropdown-menu>li{
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}


/* --------- */


#arrow-down1{
    height: 2em;
    position: relative;
    top: -0.2em;
}

#arrow-down2{
    height: 2em;
    position: relative;
    top: -0.2em;
}

.menu1 ,.menu2 {

    display: none;
}
/* 
.menu2{
    display: none;
} */

.show {
  display: block;
}

/* ---------------------------------------------------------------------------------------------- */

.login-user{
    text-decoration: none;
    font-size: 1.3em;
    margin-left: 0.7em;
    color: #303030;
    
    position: relative;
    top: 0.4em;
    right: 0.5em;
}

/* ---------------------------------------------------------------------------------------------- */

.box-log{
    border:1px solid #000000;
    min-width: 2em;
}

.box-log>div{
    display: flex;
    flex-direction: row;
    gap: 2em;

}

#icon-user{
    height: 3.7em;
    width: 3.7em;

    position: relative;
    top: -0.5em;
}